<div class="row">
    <div class="col-md-10">
        <p class="contractHeader">Your clients</p>
    </div>
    <div class="col-md-5">
        <h2>Active contracts</h2>
        <ul class="contracts" id="activeContracts">
            <li ng-repeat="contract in dataForHitman" ng-if="contract.Status == 1" class="contractItem">
                <p>From user : {{contract.UserName}}</p>
                <p>Deadline : {{contract.DeadLine}}</p>
                <p>Target : {{contract.TargetName}}</p>
                <p>Location: {{contract.Location}}</p>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <div class="separator"></div>
    </div>
    <div class="col-md-5">
        <h2>Pending contracts</h2>
        <ul class="contracts pendingContracts">
            <li ng-repeat="contract in dataForHitman" ng-if="contract.Status == 2" class="contractItem">
                <p>From user : {{contract.UserName}}</p>
                <p>Deadline : {{contract.DeadLine}}</p>
                <p>Target : {{contract.TargetName}}</p>
                <p>Location: {{contract.Location}}</p>
                <button class="btn-success userSelectionButton" data="{{contract.ContractId}} 1 {{contract.ClientId}}">+</button>
                <button class="btn-danger userSelectionButton" data="{{contract.ContractId}} 0 {{contract.ClientId}}">x</button>
            </li>
        </ul>
    </div>
    <div class="col-md-12"><div class="customHr"></div></div>
    <div class="col-md-10">
        <p class="contractHeader">Your hitmen</p>
    </div>
    <div class="col-md-5">
        <h2>Active contracts</h2>
        <ul class="contracts">
            <li ng-repeat="contract in dataForClient" ng-if="contract.Status == 1" class="contractItem">
                <p>For user : {{contract.UserName}}</p>
                <p>Deadline : {{contract.DeadLine}}</p>
                <p>Target : {{contract.TargetName}}</p>
                <p>Location: {{contract.Location}}</p>
            </li>
        </ul>
    </div>

    <div class="col-md-2">
        <div class="separator"></div>
    </div>

    <div class="col-md-5">
        <h2>Pending contracts</h2>
        <ul class="contracts">
            <li ng-repeat="contract in dataForClient" ng-if="contract.Status == 2" class="contractItem">
                <p>For user : {{contract.UserName}}</p>
                <p>Deadline : {{contract.DeadLine}}</p>
                <p>Target : {{contract.TargetName}}</p>
                <p>Location: {{contract.Location}}</p>
            </li>
        </ul>
    </div>
</div>
